<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCs_BnK-NLYclqV0kTkK6QuGFivwfBbtsA</string>
	<key>GCM_SENDER_ID</key>
	<string>446565395538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.money.tracker.testapp</string>
	<key>PROJECT_ID</key>
	<string>moneytracker-fac0f</string>
	<key>STORAGE_BUCKET</key>
	<string>moneytracker-fac0f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446565395538:ios:293f40d5af2769850e838b</string>
</dict>
</plist>
